body{
    height: 1200px;
}



h1, h3{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.italien{
    display: flex;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius : 75px;
}

.critique{
    margin-left: 25%;
    padding: 10px;
    border: 1px solid grey;
    width: 50%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nom_critiq{
    display: flex;
    text-align: center;
    flex-direction: row;
}

form{
    display: flex;
    flex-direction: column;
}

.btn-primary{
    display: flex;
    margin-left: 2%;
    justify-content: center;
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

textarea{
    width: 80%;
    height: 50%;
    border: 1px solid grey;
}

.mail{
    border: 1px solid grey;
    width: 10%;
}


