body{
    height: 1200px;
    box-shadow: inset 0px 0px 50px gray;
}



h1, h3{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.italien{
    display: flex;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius : 75px;
}

.critique{
    margin-left: 25%;
    padding: 10px;
    border: 1px solid grey;
    width: 50%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nom_critiq{
    display: flex;
    text-align: center;
    flex-direction: row;
}


.btn-primary{
    display: flex;
    margin-left: 2%;
    justify-content: center;
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}

textarea{
    width: 80%;
    height: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: inset 0px 0px 5px rgb(171, 158, 158);
    border-radius: 5px;
}

.mail{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 120%;
    box-shadow: 0px 0px 5px gray;
    display: flex;
    margin-left: -60px;

}

#msg{
    display: flex;
    margin-left: -60px;
    width: 120%;
}

#formul{
    display: flex;
    justify-content: center;
}

