* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.phrase_bienvenue{
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 80px;
}

#logo{
    display: flex;
    height: 100px;
    width: auto;
}

.haut-accueil {
    background-image: url(../images/salle-de-cinema.jpg);
    background-size: 100% 400px;
    height: 400px;
    width: 100%;
}

#logo-home {
    height: 25px;
    width: 25px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: -15px;
    padding-top: 10px;
}